<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel ="stylesheet" href="/bkgd.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Current Flights</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/add">Flight Form <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button type="submit" class="btn btn-danger">Search</button>
        </form>
    </div>
</nav>

<form action="#" th:action="@{/process}" th:object="${flight}" method="post">
    <input type="hidden" th:field="*{id}" />
    Departing Airport: <input type="text" th:field="*{departingAirport}" />
    <span th:if="${#fields.hasErrors('departingAirport')}"
          th:errors="*{departingAirport}"></span><br />
    Arriving Airport: <input type="text" th:field="*{arrivingAirport}" />
    <span th:if="${#fields.hasErrors('arrivingAirport')}"
          th:errors="*{arrivingAirport}"></span><br />
    Type: <input type="text" th:field="*{type}" />
    <span th:if="${#fields.hasErrors('type')}"
          th:errors="*{type}"></span><br />
    Price: <input type="text" th:field="*{price}" />
    <span th:if="${#fields.hasErrors('price')}"
          th:errors="*{price}"></span><br />
    Date: <input type="text" th:field="*{date}" />
    <span th:if="${#fields.hasErrors('date')}"
          th:errors="*{date}"></span><br />
    Flight Number: <input type="text" th:field="*{flightNum}" />
    <span th:if="${#fields.hasErrors('flightNum')}"
          th:errors="*{flightNum}"></span><br />
    Airline: <input type="text" th:field="*{airline}" />
    <span th:if="${#fields.hasErrors('airline')}"
          th:errors="*{airline}"></span><br />
    <input type="submit" value="Submit" />
</form>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>